<form class="profile-form" data-action="profile">
  <fieldset>
  <ul class="list-group">
    {{#each profileFormFields}}
    <li class="list-group-item">
      <label for="{{id}}">{{title}}</label>
      <input id="{{id}}" type="{{inputType}}" name="{{name}}" class="form-control" placeholder="{{title}}" value="{{value}}" {{#if required}}required{{/if}}>
    </li>
    {{/each}}
  </ul>

  <button class="btn btn-block btn-primary" type="submit">
    {{t "Save my profile"}}
  </button>
  </fieldset>
</form>
