{{> quiz/header}}

<form class="profile-form" data-action="profile">
  <div class="fields">
    {{#each profileFormFields}}
      <div class="field {{field_type}}">
        <label for="profile-form-field-{{name}}">{{title}}</label>
        {{{formField .}}}
      </div>
    {{/each}}
  </div>

  <button class="button" type="submit">
    {{t "Save my profile"}}
  </button>
</form>

{{> quiz/footer}}
