<form class="profile-form" data-action="profile">
  <div class="fields">
    {{#each profileFormFields}}
      <div class="field">
        <label for="{{id}}">{{title}}</label>
        <input id="{{id}}" type="{{inputType}}" name="{{name}}" class="form-control" placeholder="{{title}}" value="{{value}}" {{#if required}}required{{/if}}>
      </div>
    {{/each}}
  </div>

  <button class="btn btn-block btn-primary" type="submit">
    {{t "Save my profile"}}
  </button>
</form>
