{{> quiz/header}}

<div class="row experience experience-question">
  <div class="large-12">
    {{#if state.options.quiz_timer}}
      <div class="progress round">
        <span class="meter" data-hull-quiz-ticker style="width: 100%;"></span>
      </div>
    {{/if}}

    {{#question}}
      <div class="question">
        <h1>{{name}}</h1>
        {{#if description}}
          <p>{{description}}</p>
        {{/if}}
      </div>
    {{/question}}

    {{#if state.options.question_timer}}
      <div class="progress round">
        <span class="meter" data-hull-question-ticker style="width: 100%;"></span>
      </div>
    {{/if}}

    <div data-hull-question="{{ref}}">
      {{#question}}
        {{#if picture}}
          <img src="{{picture}}" width="100%" />
        {{/if}}

        <div class="answers">
        {{#answers}}
          <div class="answer">
            <a href="#" data-hull-action="answer" data-hull-answer-ref="{{ref}}" data-hull-question-ref="{{../ref}}">
              <h4>{{name}}</h4>
              {{#if description}}
                <p>{{description}}</p>
              {{/if}}
            </a>
          </div>
        {{/answers}}
        </div>
      {{/question}}
    </div>

    {{#if state.options.display_pagination}}
      <div class="pagination-centered">
        <ul class="pagination" role="menubar" aria-label="Pagination">
          {{#if question.pagination.previous}}
            <li class="arrow"><a href="#" data-hull-action="previous">&laquo; {{t "Previous"}}</a></li>
          {{/if}}
          {{#if question.pagination.next}}
            <li class="arrow"><a href="#" data-hull-action="next">{{t "Next"}} &raquo;</a></li>
          {{/if}}
        </ul>
      </div>
    {{/if}}
  </div>
</div>

{{> quiz/footer}}
