{{> quiz/header}}

<div class="row text-center">
  <div class="col-md-12">
    {{#question}}
    <h3>{{name}}</h3>
    <p>{{description}}</p>
    {{/question}}
  </div>
</div>

<div data-hull-question="{{ref}}" class="row text-center">
  {{#question}}
  <div class="col-md-6">
    {{#if picture}}
    <img src="{{picture}}" width="100%" />
    {{/if}}
  </div>
  <div class="col-md-6">
    <ul class="nav nav-pills nav-stacked">
      {{#answers}}
      <li data-hull-action="answer" data-hull-answer-ref="{{ref}}" data-hull-question-ref="{{../ref}}">
        <a href="#">
          <h4>{{name}}</h4>
          <p>{{description}}</p>
        </a>
      </li>
      {{/answers}}
    </ul>
    {{/question}}
  </div>
</div>

<div class='text-center'>
  {{#if state.options.question_timer}}
  <span data-hull-question-ticker class='badge badge-important'>{{state.timer.countdowns.question}}</span>
  {{/if}}
  {{#if state.options.quiz_timer}}
  <span data-hull-quiz-ticker class='badge badge-important'>{{state.timer.countdowns.quiz}}</span>
  {{/if}}
  {{#if state.options.display_pagination}}
  <ul class="pager">
    <li>
      <a href="#" data-hull-action="previous" class="btn {{#unless question.pagination.previous}}disabled{{/unless}}">{{t "Previous"}}</a>
    </li>
    {{#if question.pagination.next}}
    <li><a href="#" data-hull-action="next" class='btn next-step disabled'>{{t "Next"}}</a></li>
    {{/if}}
  </ul>
  {{/if}}
</div>

{{> quiz/footer}}
