<div data-hull-question="{{ref}}" class="row">
  <div class="col-md-6">
    {{> quiz/header}}
    {{#question}}
    <h3>{{name}}</h3>
    <p>{{description}}</p>
    <ul class="nav nav-pills nav-stacked">
      {{#answers}}
      <li data-hull-action="answer" data-hull-answer-ref="{{ref}}" data-hull-question-ref="{{../ref}}">
        <a href="#">
          <h4>
            {{#if weight}}<span class='muted pull-right'>{{weight}}</span>{{/if}}
            {{name}}
          </h4>
          <p>{{description}}</p>
        </a>
      </li>
      {{/answers}}
    </ul>
    {{/question}}
  </div>
  <div class="col-md-6">
    {{#if question.picture}}
    <img src="{{question.picture}}" />
    {{/if}}
  </div>
</div>

<div class='well text-center'>
  {{#if state.options.questionTimer}}
  <span data-hull-question-ticker class='badge badge-important'>{{state.timer.countdowns.question}}</span>
  <span data-hull-quiz-ticker class='badge badge-important'>{{state.timer.countdowns.quiz}}</span>
  {{else}}
  <ul class="pager">
    <li><a href="#" data-hull-action="previous" class="btn {{#unless question.pagination.previous}}disabled{{/unless}}">{{t "Previous"}}</a></li>
    {{#if question.pagination.next}}
    <li><a href="#" data-hull-action="next" class='btn next-step disabled'>{{t "Next"}}</a></li>
    {{else}}
    <li><a href="#" data-hull-action="submit" class='btn next-step disabled'>{{t "Finish"}}</a></li>
    {{/if}}
  </ul>
  {{/if}}
</div>


{{> quiz/footer}}
