{{> quiz/header}}

<div class="row experience experience-question">
  <div class="large-12">
    {{#question}}
      <div class="question">
        <h1>{{name}}</h1>
        {{#if description}}
          <p>{{description}}</p>
        {{/if}}
      </div>
    {{/question}}

    <div data-hull-question="{{ref}}">
      {{#question}}
        {{#if picture}}
          <img src="{{picture}}" width="100%" />
        {{/if}}

        <ul class="answers">
        {{#answers}}
          <li class="answer">
            <a href="#" data-hull-action="answer" data-hull-answer-ref="{{ref}}" data-hull-question-ref="{{../ref}}">
              <h4>{{name}}</h4>
              {{#if description}}
                <p>{{description}}</p>
              {{/if}}
            </a>
          </li>
        {{/answers}}
        </ul>
      {{/question}}
    </div>

    <div class='text-center'>
      {{#if state.options.question_timer}}
      <span data-hull-question-ticker class='badge badge-important'>{{state.timer.countdowns.question}}</span>
      {{/if}}
      {{#if state.options.quiz_timer}}
      <span data-hull-quiz-ticker class='badge badge-important'>{{state.timer.countdowns.quiz}}</span>
      {{/if}}
      {{#if state.options.display_pagination}}
      <ul class="pager">
        <li>
          <a href="#" data-hull-action="previous" class="btn {{#unless question.pagination.previous}}disabled{{/unless}}">{{t "Previous"}}</a>
        </li>
        {{#if question.pagination.next}}
        <li><a href="#" data-hull-action="next" class='btn next-step disabled'>{{t "Next"}}</a></li>
        {{/if}}
      </ul>
      {{/if}}
    </div>
  </div>
</div>

{{> quiz/footer}}
