{{> quiz/header}}

{{#state.badge}}
<div class="text-center">
  <h3>{{t "Bravo"}}</h3>
  <h1>{{score}} {{t "points"}} <small class='muted'>{{t "after"}} {{stats.attempts}} {{t "attempts"}}</small></h1>
  <p>
    <a class="btn btn-primary" data-hull-action='replay'>{{t "Replay"}}</a>
    <a class="btn btn-danger" data-hull-action='replay' data-hull-reset='true'>{{t "Reset"}}</a>
  </p>
</div>
{{/state.badge}}

{{> quiz/footer}}
