{{> quiz/header}}

<div class="row experience experience-result">
  <div class="large-12">
    {{#state.badge}}
      <h1>{{t "Bravo"}}</h1>
      <p>
        {{score}} {{t "points"}} {{t "after"}} {{stats.attempts}} {{t "attempts"}}
        <a href="#" data-hull-action='replay'>{{t "Replay"}}</a> or
        complete your profile.
      </p>
    {{/state.badge}}

    {{#if profileFormFields}}
      {{> quiz/profile-form}}
    {{/if}}
  </div>
</div>

{{> quiz/footer}}
