{{#each field_options.options}}
<div>
  <label class='fb-option'>
    <input type='radio' name="{{../name}}" value="{{label}}" {{#if selected}}checked{{/if}} />
    {{label}}
  </label>
</div>
{{/each}}

{{#if field_options.include_other_option}}
<div class='other-option'>
  <label class='fb-option'>
    <input type='radio' name="{{name}}" value="other" {{#ifEqual value "other"}}checked{{/ifEqual}} />
    Other
  </label>

  <input type='text' name="{{name}}_other_value" value="{{other_value}}" />
</div>
{{/if}}
